<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>ServletClasses.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet1</servlet-name>
        <servlet-class>ServletClasses.NewServlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewPostServlet</servlet-name>
        <servlet-class>ServletClasses.NewPostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePostServlet</servlet-name>
        <servlet-class>ServletClasses.DeletePostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestFellowServlet</servlet-name>
        <servlet-class>ServletClasses.RequestFellowServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetRequestServlet</servlet-name>
        <servlet-class>ServletClasses.GetRequestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FollowTutorServlet</servlet-name>
        <servlet-class>ServletClasses.FollowTutorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AcceptRequestServlet</servlet-name>
        <servlet-class>ServletClasses.AcceptRequestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DenyRequestServlet</servlet-name>
        <servlet-class>ServletClasses.DenyRequestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchHintServlet</servlet-name>
        <servlet-class>ServletClasses.SearchHintServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchHintNameServlet</servlet-name>
        <servlet-class>ServletClasses.SearchHintNameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetGroupsServlet</servlet-name>
        <servlet-class>ServletClasses.GetGroupsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveMemberServlet</servlet-name>
        <servlet-class>ServletClasses.RemoveMemberServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteGroupServlet</servlet-name>
        <servlet-class>ServletClasses.DeleteGroupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetWallGroupPostsServlet</servlet-name>
        <servlet-class>ServletClasses.GetWallGroupPostsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewPostGroupServlet</servlet-name>
        <servlet-class>ServletClasses.NewPostGroupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteGroupPostServlet</servlet-name>
        <servlet-class>ServletClasses.DeleteGroupPostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JoinGroupServlet</servlet-name>
        <servlet-class>ServletClasses.JoinGroupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InstallAppServlet</servlet-name>
        <servlet-class>ServletClasses.InstallAppServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveAppServlet</servlet-name>
        <servlet-class>ServletClasses.RemoveAppServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FollowFacilitatorServlet</servlet-name>
        <servlet-class>ServletClasses.FollowFacilitatorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFellowServlet</servlet-name>
        <servlet-class>ServletClasses.DeleteFellowServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetGroupMembers</servlet-name>
        <servlet-class>ServletClasses.GetGroupMembersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateGroupServlet</servlet-name>
        <servlet-class>ServletClasses.CreateGroupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetGroupMembersServlet</servlet-name>
        <servlet-class>ServletClasses.GetGroupMembersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckRequestFellowServlet</servlet-name>
        <servlet-class>ServletClasses.CheckRequestFellowServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchHintGroupServlet</servlet-name>
        <servlet-class>ServletClasses.SearchHintGroupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InstallIntermAppServlet</servlet-name>
        <servlet-class>ServletClasses.InstallIntermAppServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveIntermAppServlet</servlet-name>
        <servlet-class>ServletClasses.RemoveIntermAppServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet1</servlet-name>
        <url-pattern>/servlet/NewServlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewPostServlet</servlet-name>
        <url-pattern>/servlet/NewPostServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePostServlet</servlet-name>
        <url-pattern>/servlet/DeletePostServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestFellowServlet</servlet-name>
        <url-pattern>/servlet/RequestFellowServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetRequestServlet</servlet-name>
        <url-pattern>/servlet/GetRequestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FollowTutorServlet</servlet-name>
        <url-pattern>/servlet/FollowTutorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AcceptRequestServlet</servlet-name>
        <url-pattern>/servlet/AcceptRequestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DenyRequestServlet</servlet-name>
        <url-pattern>/servlet/DenyRequestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchHintServlet</servlet-name>
        <url-pattern>/servlet/SearchHintServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchHintNameServlet</servlet-name>
        <url-pattern>/servlet/SearchHintNameServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetGroupsServlet</servlet-name>
        <url-pattern>/servlet/GetGroupsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveMemberServlet</servlet-name>
        <url-pattern>/servlet/RemoveMemberServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteGroupServlet</servlet-name>
        <url-pattern>/servlet/DeleteGroupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetWallGroupPostsServlet</servlet-name>
        <url-pattern>/servlet/GetWallGroupPostsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewPostGroupServlet</servlet-name>
        <url-pattern>/servlet/NewPostGroupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteGroupPostServlet</servlet-name>
        <url-pattern>/servlet/DeleteGroupPostServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JoinGroupServlet</servlet-name>
        <url-pattern>/servlet/JoinGroupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InstallAppServlet</servlet-name>
        <url-pattern>/servlet/InstallAppServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveAppServlet</servlet-name>
        <url-pattern>/servlet/RemoveAppServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FollowFacilitatorServlet</servlet-name>
        <url-pattern>/servlet/FollowFacilitatorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFellowServlet</servlet-name>
        <url-pattern>/servlet/DeleteFellowServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetGroupMembers</servlet-name>
        <url-pattern>/servlet/GetGroupMembers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateGroupServlet</servlet-name>
        <url-pattern>/servlet/CreateGroupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetGroupMembersServlet</servlet-name>
        <url-pattern>/servlet/GetGroupMembersServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckRequestFellowServlet</servlet-name>
        <url-pattern>/servlet/CheckRequestFellowServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchHintGroupServlet</servlet-name>
        <url-pattern>/servlet/SearchHintGroupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InstallIntermAppServlet</servlet-name>
        <url-pattern>/servlet/InstallIntermAppServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveIntermAppServlet</servlet-name>
        <url-pattern>/servlet/RemoveIntermAppServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
